node_modules
.next
out
# Environment / secrets
.env
.env.*
!.env.example
!.env.*.example

# Cache / temp
.cache/
tmp/
temp/
*.tmp
.npm/
.npmrc
.eslintcache
jest/cache/
*.pid
*.seed
*.pid.lock
.cache
tsconfig.tsbuildinfo